@import "tailwindcss";

@theme inline {
  --color-background: #F6F8F5;
  --color-foreground: #111C17;
  --font-sans: var(--font-figtree), sans-serif;
}

body {
  background: #F6F8F5;
  color: #111C17;
}
